{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">St Mary's Primary School: Electricity meters and usage</span>
      <h1 class="govuk-heading-l">Electricity meter details</h1>

      <form class="form" action="/sprint-5/elec-meter-review-1?eaddmeter1=1" method="post">

        <p>You can usually find this information on your electricity bill. Please check all pages.</p>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label" for="mpan-1">
              Add an MPAN
            </label>
          </h2>
          <div id="event-name-hint" class="govuk-hint">
            MPANs are 13 digits long
          </div>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Where can I find my MPAN number?
              </span>
            </summary>
            <div class="govuk-details__text">
              Your MPAN is on your electricity bill. It’s the last 13 digits of the Supply number.
              <img src="/public/images/mpan.png-2" style="width:30%">
            </div>
          </details>
          <input class="govuk-input govuk-input--width-10" id="mpan-1" name="mpan-1" type="text" aria-describedby="mpan">
        </div>



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="halfHourIn-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend">
              <h1 class="govuk-fieldset__heading">
                Is this a half-hourly meter?
              </h1>
            </legend>
            <div id="halfHour-hint" class="govuk-hint">
              Your meter is half hourly if your supply number begins with 00. Your Supply number is on your electricity bill.
            </div>

            <img src="/public/images/mpan.png" style="width:30%">

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="halfHour-3" name="halfHour-3" type="radio" value="Yes" data-aria-controls="conditional-halfhour">
                <label class="govuk-label govuk-radios__label" for="supplier">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-halfhour">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="supplier">
                    What is the supply capacity?
                  </label>
                  <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                    <div class="govuk-input__suffix" aria-hidden="true">kVA</div>
                  </div>
                  <div class="govuk-inset-text">
                    Half-hourly meters are sometimes managed by a separate company. Ask your electricity supplier if you’re unsure who provides these services.
                  </div>
                  <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Who is the data aggregator?
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Who is the data collector?
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Who is the meter operator?
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
                </div>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="halfHour-3" name="halfHour-3" type="radio" value="No" aria-describedby="halfHour-3-item-hint">
                <label class="govuk-label govuk-radios__label" for="halfHour-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label" for="ekwh-1">
            Estimated annual electricity usage
          </label>
          </h2>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Where can I find annual electricity usage?
              </span>
            </summary>
            <div class="govuk-details__text">
              Check your latest electricity bill. Some suppliers include your annual estimated usage on the bill. Alternatively, add up the kWh from your last 12 electricity bills to calculate your total usage.
            </div>
            <p><span class="mural-link"><a href=""></a></span></p>
          </details>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="ekwh-1" name="ekwh-1" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kWh</div>
          </div>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
